{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="inner_banner" style="background: url({% static 'images/it_service/inner_page_banner.jpg' %})"  class="section inner_banner_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=" ">
                        <div class="title-holder">
                            <div class="title-holder-cell text-left">
                                <h1 class="page-title">Metodik qo'llanmalar</h1>
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'index' %}">Bosh sahifa</a></li>
                                    <li class="active">Metodik qo'llanmalar</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end inner page banner -->
    <!-- section -->
    <div class="section padding_layout_1 service_list">
        <div class="container">
            <div class="row">

                {% if slides %}
                    {% for slide in slides %}
                        <div class="col-md-4 service_blog margin_bottom_50">
                            <div class="full p-0">
                                <div class=" ">
                                    <a class="" href="{% url 'slide-detail' slide.id %}">
                                        <div class="service_img"><img class="img-responsive" src="{{ slide.image.url }}"
                                                                      alt="{{ slide.title }}"/></div>
                                        <div class="text-center">
                                            <p class="service_head text-primary text-black-50 border-bottom display-inline-block pt-3">{{ slide.title }}</p>
                                        </div>

                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                {% else %}
                    <h4>Malumotlar bazasida taqdimotlar mavjud emas</h4>
                {% endif %}


        </div>
    </div>
    </div>
    <!-- end section -->

{% endblock %}





