{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- inner page banner -->
    <div id="inner_banner" class="section inner_banner_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="title-holder">
                            <div class="title-holder-cell text-left">
                                <h2>{{ slide.description }}</h2>
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'slide-list' %}">Taqdimotlar</a></li>
                                    <li>{{ slide.title }}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end inner page banner -->
    <!-- section -->
    <div class="section padding_layout_1 blog_grid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right">
                    <div>
                        {{ slide.content | safe }}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end section -->


{% endblock %}





