{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- inner page banner -->
    <div id="inner_banner" style="background: url({% static 'images/it_service/inner_page_banner.jpg' %})"  class="section inner_banner_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=" ">
                        <div class="title-holder">
                            <div class="title-holder-cell text-left">
                                <h1 class="page-title">Mavzular</h1>
                                <ol class="breadcrumb">
                                    <li><a href="index.html">Bosh sahifa</a></li>
                                    <li class="active">Bolalarni  tabiat bilan tanishtirish</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end inner page banner -->
    <!-- section -->
    <div class="section padding_layout_1 blog_grid">
        <div class="container">

            <h4 class="text-center">BOLALARNI TABIAT BILAN TANISHTIRISH</h4>
            <br>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">BOB</th>
                    <th scope="col">Mavzu</th>
                </tr>
                </thead>
                <tbody>
                {% for topic in topics %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ topic.get_category_display }}</td>
                        <td><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <!-- end section -->

{% endblock %}





