<footer class="footer_style_2">
    <div class="container-fuild">
        <div class="row">
            <div class="map_section">
                <div id="map"></div>
            </div>
            <div class="footer_blog">
                <div class="row">
                    <div class="col-md-6">
                        <div class="main-heading left_text">
                            <h2>Informatika va axborot texnologiyalari</h2>
                        </div>
                        <p>"ELEKTRON TА'LIM MUXITIDА WEB TEXNOLOGIYALАRDАN FOYDАLАNISH METODIKАSINI TАKOMILLАSHTIRISH" dissertatsiyasi doirasida tayyorlangan</p>
                        <ul class="social_icons">
                            <li class="social-icon fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li class="social-icon tw"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li class="social-icon gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="main-heading left_text">
                            <h2>Havolalar</h2>
                        </div>
                        <ul class="footer-menu">
                            <li><a href="{% url 'index' %}"><i class="fa fa-angle-right"></i> Bosh sahifa</a></li>
                            <li><a href="{% url 'index' %}"><i class="fa fa-angle-right"></i> Mavzular </a>
                            </li>
                            <li><a href="{% url 'topic-list' %}"><i class="fa fa-angle-right"></i> O'quv adabiyotlar</a>
                            </li>
                            <li><a href="{% url 'video-list' %}"><i class="fa fa-angle-right"></i> Videodarslar</a></li>
                            <li><a href="{% url 'slide-list' %}"><i class="fa fa-angle-right"></i> Taqdimotlar</a></li>
                            <li><a href="{% url 'test-list' %}"><i class="fa fa-angle-right"></i> Testlar</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="cprt">
                <p>Informatika 8 © Guli Taylakova</p>
            </div>
        </div>
    </div>
</footer>