{% load static %}

<header id="default_header" class="header_style_1">
    <!-- header top -->
    <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class=" ">
                        <div class="topbar-left">
                            <ul class="list-inline">
                                <li><span class="topbar-label"><i class="fa  fa-home"></i></span> <span
                                        class="topbar-hightlight">Yunusobod tumani, Shahriston ko`chasi</span></li>
                                <li><span class="topbar-label"><i class="fa fa-envelope"></i></span> <span
                                        class="topbar-hightlight"><a href="mailto:info@yourdomain.com"> b.abdullayeva@gmail.com</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 right_section_header_top">
                    <div class="float-left">
                        <div class="social_icon">
                            <ul class="list-inline">
                                <li><a class="fab fa-facebook text-white" href="#" title="Facebook"
                                       target="_blank"></a></li>
                                <li><a class="fab fa-telegram" href="#" title="Telegram+"
                                       target="_blank"></a></li>
                                <li><a class="fab fa-instagram" href="#" title="Instagram"
                                       target="_blank"></a></li>
                                <li><a class="fab fa-youtube" href="#" title="Youtube"
                                       target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header top -->

    <!-- header bottom -->
    <div class="header_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <!-- logo start -->
                    <div class="logo"><a href="{% url 'index' %}">
                        <img src="{% static 'images/logos/logo.png' %}"   alt="logo"/>

                    </a></div>
                    <!-- logo end -->
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <!-- menu start -->
                    <div class="menu_side">
                        <div id="navbar_menu">
                            <ul class="first-ul">
                                <li>
                                    <a
                                            {% if '/' == request.path %}
                                                class="active"
                                            {% else %}
                                                class=""
                                            {% endif %}
                                                href="{% url 'index' %}">Bosh sahifa
                                    </a>
                                </li>

                                <li>
                                    <a
                                            {% if 'topic_list' in request.path %}
                                                class="active"
                                            {% else %}
                                                class=""
                                            {% endif %}

                                                href="{% url 'topic-list' %}">Mavzular
                                    </a>
                                </li>

{#                                <li>#}
{#                                    <a#}
{#                                            {% if 'edumat' in request.path %}#}
{#                                                class="active"#}
{#                                            {% else %}#}
{#                                                class=""#}
{#                                            {% endif %}#}
{##}
{#                                                href="{% url 'edumat-list' %}">O'quv adabiyotlar#}
{#                                    </a>#}
{##}
{#                                </li>#}


                                <li>
                                    <a
                                            {% if 'video' in request.path %}
                                                class="active"
                                            {% else %}
                                                class=""
                                            {% endif %}

                                                href="{% url 'video-list' %}">Videodarslar
                                    </a>

                                </li>

                                <li>
                                    <a
                                            {% if 'slide' in request.path %}
                                                class="active"
                                            {% else %}
                                                class=""
                                            {% endif %}

                                            href="{% url 'slide-list' %}">Metodik qo'llanma
                                    </a>

                                </li>

                                <li>
                                    <a
                                            {% if 'test' in request.path %}
                                                class="active"
                                            {% else %}
                                                class=""
                                            {% endif %}

                                            href="{% url 'test-list' %}">Test
                                    </a>

                                </li>

                            </ul>
                        </div>
                        <div class="search_icon">
                            <ul>
                                <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search"
                                                                                                 aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header bottom end -->
</header>